@import './index.css';
.masking {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .mainbox {
    background-color: #fff;
    padding: 10px;
    position: relative;
    width: 80%;
    min-height: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    animation: fadein 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    img {
      width: 100%;
      display: block;
    }
    .btnbox {
      position: absolute;
      background-color: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 50px;
      right: -50px;
      bottom: 40px;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      p {
        margin-bottom: 0;
        cursor: pointer;
      }
    }
    .canvas {
      height: 400px;
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0) translateX(100%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
}
.header {
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  .headerbox {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >div:nth-of-type(2){
        span{
            cursor: pointer;
            transition: all .3s;
        }
        >span:nth-of-type(1){
            background: #1890ff;
            margin-right: 15px;
            color: #fff;
            padding: 5px 15px;
            border-radius: 3px;
        }
        >span:nth-of-type(1):hover{
            background: #156dc0;
        }
        >span:nth-of-type(2):hover{
            color: black
        }
    }
  }
}

.alertbox{
    width:350px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0 25px;
    .alertclose{
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
    .alerttitle{
      font-size: 18px;
      text-align: center;
      line-height: 60px;
    }
}
.btn1{
  width: 100%;
}